<style>
.crony-container 
{
	height: 100%;
	display: grid;
	grid-template-columns: 120px auto;
	grid-template-rows: 40px auto;
	background-color: #463a3c;
}

.crony-header
{
	color: #b9a5a6;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	z-index: 3;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	font-family: Helvetica,sans-serif;
    font-size: .75rem;
    padding: 5px;
    box-sizing: border-box;
    min-height: 40px;
    display: block;
    font-weight: lighter;
    background-color: rgba(0,0,0,0.1);
    letter-spacing: 1px;
    padding: 9px 10px 9px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: left;
    position: relative;
    cursor: pointer;
}

.crony-menu
{
	background-color: #463a3c;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	height: 100%;
	font-family: Helvetica,sans-serif;
    font-size: .75rem;
    color: #b9a5a6;
    margin: 5px;
}

.crony-app
{
	height: 100%;
	margin: 0px;
}

.crony-menu-item
{
	background-color: #463a3c;
	-webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
    cursor: pointer;
    padding: 1em;
    font-size: 11px;
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    margin: 10px 2.5% 5px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.15);
    transition: all 0.2s ease 0s;
    transition-property: box-shadow, color;
}

.crony-menu-item:hover
{
	background-color: #463a3c;
	color: #d97aa6;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.15);
}

.crony-tab-view-top
{
    background-color: rgba(0,0,0,0.1);
	grid-row: 1 / 2;
	height: 40px;
}

.crony-tab
{
	background-color: green;
	width: 200px;
	height: 100%;
	display: block;
	float: left;
	cursor: pointer;
}

.crony-tab-view-content
{
	grid-row: 2 / 3;
	grid-column: 1 / 2;

}

.crony-tab-view 
{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 40px auto;
	height: calc(100% - 40px);
}

.crony-job-status-terminal
{
	background-color: black;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.crony-job-status-toolbar
{
	background-color: yellow;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.crony-job-status-page
{
	display: grid;
	grid-template-columns: auto 200px;
	grid-template-rows: auto 32px;
	height: 100%;
}

.crony-menu-icon
{
	font-size:3em;
	padding: 5px;
	padding-bottom: 10px;
}

body 
{
	margin: 0px;
}

</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

<script src="vue.js"></script>

<div class="crony-app" id="app">
  	<div class="crony-container">
  		<crony-header></crony-header>
  		<crony-menu></crony-menu>
  		<crony-job-page></crony-job-page>
	</div>
</div>

<script type="text/javascript">

Vue.component('crony-header', {
  template: '<div class="crony-header">This is a header</div>'
})

Vue.component('crony-menu-item', {
  template: '<div class="crony-menu-item"><span class="crony-menu-icon"><i class="fas fa-user icon-2x"></i></span>{{title}}</div>',
  props:['title']
})

Vue.component('crony-tab', {
	template: '<div class="crony-tab">{{title}}</div>',
	props:['title']
})

Vue.component('crony-job-status-page',{
	template: '<div class="crony-job-status-page"><div class="crony-job-status-terminal"></div><div class="crony-job-status-toolbar"></div></div>'
})

Vue.component('crony-job-config-page',{
	template: '<div class="crony-job-config-page">job config</div>'
})

Vue.component('crony-tab-view', {
	template: '<div class="crony-tab-view"><div class="crony-tab-view-top"><crony-tab v-for="tab in tabList" v-bind:title="tab" v-on:click.native="setPage(tab)"></crony-tab></div><component v-bind:is="pageType"></component></div>',
	data: function()
	{
		return {
			tabList: ["Builds", "Config"],
			pageType: "crony-job-status-page"
		};
	},
	methods: {
		setPage: function(tab)
		{
			if (tab === 'Builds')
			{
				this.pageType = "crony-job-status-page"
			}
			else if (tab === 'Config')
			{
				this.pageType = "crony-job-config-page"
			}
		}
	}
})

Vue.component('crony-job-page', {
	template: '<div class="crony-job-page"><crony-tab-view></crony-tab-view></div>'

})

Vue.component('crony-menu', {
  template: '<div class="crony-menu"><crony-menu-item v-for="hah in menuItemList" v-bind:title="hah"></crony-menu-item><crony-menu-item v-on:click.native="addNewJob" title="+ New Job"></crony-menu-item><component is="crony-menu-item" title="Settings"></component></div>',
  data: function()
  {
  	return {
  		menuItemList: ["ff", "bb"]
  	};
  },
  methods: {
  	addNewJob: function()
 	{
 		console.log("df");
  		this.menuItemList.push("new");
  	}
  }

})
	
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})

</script>